/Binaries/
/Content/
/DerivedDataCache/
/Intermediate/
/Saved/
/.backup-temp/
/Backup/
/Backup1/
/Backup2/
/.idea/
/.vs/
/.vscode/

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.tmp
*.log

.vsconfig
UpgradeLog*.htm

.b2backup.json
Backups/
